/* 
   ### A regra !important

   * cuidado, evite o uso
   * não é considerado uma boa prática
   * quebra o fluxo natural da cascata
*/

* {
    margin: 0;
    color: green;
}

.title {
    color: blue;
}

#my-title,
#my-title strong {
    color: aquamarine;
}

h1 {
    color: red !important;
}