/* 
    Adicionando CSS

    ## inline
        * atributo `style`

    ## <style>
        * tag html que irá conter o css

    ## <link> 
        * arquivo css externo
        
    ## @import 
        * arquiov css externo
*/

* {
    margin: 0;
}

h1 {
    color: blue;
}

strong {
    color: red;
}